body {
  color: white;
  background-image: url("../img/stars.png");
  background-color: #000;
}

h1, .result {
  margin-top: 150px;
  text-align: center;
}

.hal {
  margin-bottom: 40px;
  text-align: center;
  font-size: 5em;
}

#eye{
  color: red;
}

label, input, button{
  display: block;
  margin: auto;
}
